
<!-- Styles -->

h1{
	font-family: 'Roboto', sans-serif;	
}
	

h2{

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h3{

	font-family: 'Roboto', sans-serif;
}

h4{

	font-family: 'Roboto', sans-serif;
}


p{
	font-family: 'Roboto', sans-serif;	
	
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    text-align: center;
    padding: 14px 32px 16px 0px;
    text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}


#bg-div {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#img_header {
	content: " ";
	padding-bottom: 350px;
}


#image-map {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}


.tales {
  width: 100%;
}
.carousel-inner{
  height:350px !important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}